version: "3.8"

services:
  web:
    build: .
    volumes:
      - ./mySite:/var/www/html
    ports:
      - "80:80"

  db:
    image: mysql
    volumes:
      - ./db_data:/var/lib/mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 12345
      MYSQL_DATABASE: docker_database
